codigo_nodered/flows.json
[{"id":"761a717.60d3c9","type":"tab","label":"Ventilação","disabled":false,"info":""},{"id":"3fa8894b.8eb2d6","type":"tab","label":"Status Ambiente","disabled":false,"info":""},{"id":"7f78ba4d.c28ea4","type":"serial-port","serialport":"ARDUINO","serialbaud":"9600","databits":"8","parity":"none","stopbits":"1","waitfor":"","dtr":"none","rts":"none","cts":"none","dsr":"none","newline":"\\n","bin":"false","out":"char","addchar":"","responsetimeout":"10000"},{"id":"e43252ed.85d31","type":"arduino-board","device":"COM3"},{"id":"e80c7002.a9126","type":"telegram bot","botname":"IOT-controle-ambiente","usernames":"","chatids":"","baseapiurl":"","updatemode":"polling","pollinterval":"300","usesocks":false,"sockshost":"","socksport":"6667","socksusername":"anonymous","sockspassword":"","bothost":"","botpath":"","localbotport":"8443","publicbotport":"8443","privatekey":"","certificate":"","useselfsignedcertificate":false,"sslterminated":false,"verboselogging":false},{"id":"6b7b5280.3c0ffc","type":"telegram command","z":"761a717.60d3c9","name":"Ligar Ventilação","command":"/ligarventilador","bot":"e80c7002.a9126","strict":false,"hasresponse":true,"useregex":false,"removeregexcommand":false,"outputs":2,"x":100,"y":60,"wires":[["ce0d4ccd.3c20e"],["32779045.35fef"]]},{"id":"ad9d29e6.409668","type":"telegram sender","z":"761a717.60d3c9","name":"Responde","bot":"e80c7002.a9126","haserroroutput":false,"outputs":1,"x":630,"y":60,"wires":[[]]},{"id":"ce0d4ccd.3c20e","type":"function","z":"761a717.60d3c9","name":"Mensagem ","func":"msg.payload.content = 'Ventilação ligada!';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":60,"wires":[["ad9d29e6.409668"]]},{"id":"db86bd15.2dad1","type":"arduino in","z":"3fa8894b.8eb2d6","name":"Sensor proximidade (pin 2)","pin":"2","state":"INPUT","arduino":"e43252ed.85d31","x":150,"y":60,"wires":[["4071ca07.ae77d4"]]},{"id":"34b68c23.748ce4","type":"telegram sender","z":"3fa8894b.8eb2d6","name":"Responde","bot":"e80c7002.a9126","haserroroutput":false,"outputs":1,"x":630,"y":140,"wires":[[]]},{"id":"bd534deb.f060b","type":"function","z":"3fa8894b.8eb2d6","name":"Mensagem","func":"if (global.get(\"statusambiente\") == 1) {\n    msg.payload.content = 'Utilizado.';\n} else {\n    msg.payload.content = 'Vazio.';\n}\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":370,"y":140,"wires":[["34b68c23.748ce4"]]},{"id":"57d8b33c.c0c21c","type":"telegram command","z":"3fa8894b.8eb2d6","name":"Status Ambiente","command":"/statusambiente","bot":"e80c7002.a9126","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":120,"y":140,"wires":[["bd534deb.f060b"]]},{"id":"887e9734.b632e8","type":"telegram command","z":"761a717.60d3c9","name":"Desligar Ventilação","command":"/desligarventilador","bot":"e80c7002.a9126","strict":false,"hasresponse":false,"useregex":false,"removeregexcommand":false,"outputs":1,"x":110,"y":180,"wires":[["3fe3fbc2.6eeb44","c312ef19.ebc25"]]},{"id":"283495e8.06a82a","type":"arduino out","z":"761a717.60d3c9","name":"Ventilação (pin 4)","pin":"4","state":"OUTPUT","arduino":"e43252ed.85d31","x":630,"y":180,"wires":[]},{"id":"3fe3fbc2.6eeb44","type":"function","z":"761a717.60d3c9","name":"Mensagem","func":"msg.payload.content = 'Ventilação desligada!';\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":350,"y":180,"wires":[["ad9d29e6.409668"]]},{"id":"32779045.35fef","type":"function","z":"761a717.60d3c9","name":"Ligar","func":"msg.payload = true;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":330,"y":100,"wires":[["283495e8.06a82a"]]},{"id":"c312ef19.ebc25","type":"function","z":"761a717.60d3c9","name":"Desligar","func":"msg.payload = false;\nreturn msg;","outputs":1,"noerr":0,"initialize":"","finalize":"","libs":[],"x":340,"y":140,"wires":[["283495e8.06a82a"]]},{"id":"4071ca07.ae77d4","type":"change","z":"3fa8894b.8eb2d6","name":"Set status ambiente","rules":[{"t":"set","p":"statusambiente","pt":"global","to":"payload","tot":"msg"}],"action":"","property":"","from":"","to":"","reg":false,"x":430,"y":60,"wires":[[]]}]